#include<windows.h>
#include"main.h"

MAIN_MENU MENU {
	POPUP "&Start" {
		MENUITEM "&Beginner\t(9x9)",ID_BEGINNER
		MENUITEM "&Intermediate\t(16x16)",ID_INTERMEDIATE
		MENUITEM "&Expert\t(30x16)",ID_EXPERT
		MENUITEM SEPARATOR
		MENUITEM "Single",ID_SINGLE CHECKED
		MENUITEM "Double",ID_DOUBLE
		MENUITEM "Triple",ID_TRIPLE
		MENUITEM "Quadruple",ID_QUADRUPLE
		MENUITEM "Quintuple",ID_QUINTUPLE
		MENUITEM "Sextuple",ID_SEXTUPLE
		MENUITEM "Septuple",ID_SEPTUPLE
		MENUITEM SEPARATOR
		MENUITEM "Custom\t(Shift+C)",ID_CUSTOM
	}
	POPUP "&Misc" {
		MENUITEM "&Restart\t(Shift+R)",ID_RESTART
		MENUITEM SEPARATOR
		MENUITEM "&Best Time\t(Shift+B)",ID_BESTTIME
		MENUITEM SEPARATOR
		MENUITEM "E&xit\t(Alt+F4)",ID_EXIT
	}
}

BM_SPRITE	BITMAP "bmp/sprite.bmp"
BM_DIGIT	BITMAP "bmp/digit.bmp"
BM_NUMBER	BITMAP "bmp/number.bmp"
BM_MINE		BITMAP "bmp/mine.bmp"

DLG_CUSTOM DIALOG 20,20,115,75
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION
CAPTION "New Custom Game"
FONT 10,"Consolas"
{
	GROUPBOX		"Parameter",-1,5,5,105,50
	LTEXT			"Width     (9-96)",-1,10,12,70,10
	LTEXT			"Height    (6-64)",-1,10,22,70,10
	LTEXT			"Multimine (1-7) ",-1,10,32,70,10
	LTEXT			"Mine Count",-1,10,42,70,10
	EDITTEXT		CUSTOM_WIDTH,80,12,25,10,ES_NUMBER
	EDITTEXT		CUSTOM_HEIGHT,80,22,25,10,ES_NUMBER
	EDITTEXT		CUSTOM_MULTI,80,32,25,10,ES_NUMBER
	EDITTEXT		CUSTOM_MINE,80,42,25,10,ES_NUMBER
	PUSHBUTTON		"CANCEL",IDCANCEL,5,56,50,13
	DEFPUSHBUTTON	"START",IDOK,60,56,50,13
}

DLG_BESTTIME DIALOG 20,20,210,130
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION
CAPTION "Best Time"
FONT 10,"Consolas"
{
	GROUPBOX		"Records",-1,5,5,200,95
	LTEXT			"(Seconds)",-1,10,15,40,10
	LTEXT			"Single",-1,10,25,40,10
	LTEXT			"Double",-1,10,35,40,10
	LTEXT			"Triple",-1,10,45,40,10
	LTEXT			"Quadruple",-1,10,55,40,10
	LTEXT			"Quintuple",-1,10,65,40,10
	LTEXT			"Sextuple",-1,10,75,40,10
	LTEXT			"Septuple",-1,10,85,40,10
	RTEXT			"Beginner",-1,50,15,50,10
	RTEXT			"9999",BEST_BTIME,50,25,50,10
	RTEXT			"9999",BEST_BTIME+TYPE_MULTI,50,35,50,10
	RTEXT			"9999",BEST_BTIME+TYPE_MULTI*2,50,45,50,10
	RTEXT			"9999",BEST_BTIME+TYPE_MULTI*3,50,55,50,10
	RTEXT			"9999",BEST_BTIME+TYPE_MULTI*4,50,65,50,10
	RTEXT			"9999",BEST_BTIME+TYPE_MULTI*5,50,75,50,10
	RTEXT			"9999",BEST_BTIME+TYPE_MULTI*6,50,85,50,10
	RTEXT			"Intermediate",-1,110,15,50,10
	RTEXT			"9999",BEST_ITIME,110,25,50,10
	RTEXT			"9999",BEST_ITIME+TYPE_MULTI,110,35,50,10
	RTEXT			"9999",BEST_ITIME+TYPE_MULTI*2,110,45,50,10
	RTEXT			"9999",BEST_ITIME+TYPE_MULTI*3,110,55,50,10
	RTEXT			"9999",BEST_ITIME+TYPE_MULTI*4,110,65,50,10
	RTEXT			"9999",BEST_ITIME+TYPE_MULTI*5,110,75,50,10
	RTEXT			"9999",BEST_ITIME+TYPE_MULTI*6,110,85,50,10
	RTEXT			"Expert",-1,160,15,40,10
	RTEXT			"9999",BEST_ETIME,160,25,40,10
	RTEXT			"9999",BEST_ETIME+TYPE_MULTI,160,35,40,10
	RTEXT			"9999",BEST_ETIME+TYPE_MULTI*2,160,45,40,10
	RTEXT			"9999",BEST_ETIME+TYPE_MULTI*3,160,55,40,10
	RTEXT			"9999",BEST_ETIME+TYPE_MULTI*4,160,65,40,10
	RTEXT			"9999",BEST_ETIME+TYPE_MULTI*5,160,75,40,10
	RTEXT			"9999",BEST_ETIME+TYPE_MULTI*6,160,85,40,10
	LTEXT			"Note: Uncompleted modes are shown to have records of 9999 seconds",-1,10,105,150,20
	DEFPUSHBUTTON	"OK",IDOK,170,105,30,20
}
